* {
	margin: 0;
	padding: 0;
}
:root {
	color-scheme: dark;
}
body {
	padding: 30px 50px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
}
svg-isolate {
	outline: 1px dashed gray;
}


.resized {
	position: relative;
	width: 300px;
	
	outline: 1px dashed rgb(214, 185, 20);
	overflow: hidden;
	resize: horizontal;

	& > * {
		padding: 20px;
		height: 300px;
	}

	.scrolled {
		overflow-y: scroll;
		p {
			height: 500px;
		}
	}

	&::before  {
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
		content: var(--width);
		display: block;

		text-align: center;
		font-family: monospace;
		font-size: 14pt;
		letter-spacing: 1px;
		
		color: #ffffff;
	}
}
