svg-isolate {
	flex-shrink: 0;
	width: 400px;
	height: 400px;
	outline: 1px dashed gray;

	@media (width <=800px) {
		width: 300px;
		height: 300px;
	}
}

svg-isolate:not([sanitize]) {
	/* pointer-events: none; */
}