* {
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: dark;
    font-family: 'Consolas', monospace;

    --footer-link-color: #999;
    --footer-link-color-hover: #fff;
    --footer-link-icon-color: #999;
    --footer-link-icon-color-hover: #fff;
}

footer {
    display: flex;
    gap: 20px;

    ul.example-links {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: var(--footer-link-color);
            font-size: 12pt;
            letter-spacing: 2px;

            display: flex;
            align-items: center;
            gap: 10px;
        }

        a:hover {
            color: var(--footer-link-color-hover);
        }

        a::before {

            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;

            mask-size: cover;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/book.svg");

            background-color: var(--footer-link-icon-color);
        }

        a:hover::before {
            background-color: var(--footer-link-icon-color-hover);
        }

        a[href^="https://github.com/"]::before {
            mask-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/github.svg");
        }

        a[href^="https://codepen.io/"]::before {
            mask-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/code-slash.svg");
        }
    }

}