main {
    max-width: 1200px;
    margin-inline: auto;
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.resized {
    align-self: center;
    position: relative;
    width: 870px;

    outline: 1px dashed var(--color-yellow);
    overflow: hidden;
    resize: horizontal;

    h2 {
        text-align: center;
        white-space: nowrap;
        padding: 10px;

        span {
            color: var(--color-green);
        }
    }

    .content {
        padding: 20px;
        height: 150px;
        overflow: hidden;
        scrollbar-gutter: stable both-edges;
    }

    .content.scrolled {
        overflow-y: scroll;

        p {
            height: 500px;
        }
    }
}



.info {
    display: flex;
    gap: 20px;

    font-size: 12pt;


    #fetch-log {
        flex-grow: 1;
        position: relative;
        background: #0d1117;
        border: 1px solid #30363d;
        border-radius: 12px;
        overflow: hidden;


        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;

        height: 350px;

        .content {
            overflow: auto;
            flex-grow: 1;

            .logs {
                min-width: fit-content;

                .log {
                    display: flex;
                    gap: 20px;
                    padding: 10px 16px;
                    color: #747d88;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    font-size: 14px;

                    p {
                        line-height: 1.8;
                        white-space: nowrap;

                        .target {
                            color: var(--color-green);
                            cursor: alias;
                        }
                    }

                    p:first-child::before {
                        content: ">";
                        color: var(--color-blue);
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }

                .log:last-child {
                    border-bottom: none;
                }
            }
        }
    }



    .sources {
        flex-basis: 200px;
        min-width: 300px;

        background: var(--logs-background-color);
        border: 1px solid var(--logs-border-color);
        border-radius: 12px;

        ul {
            list-style: none;
            padding: 10px 16px;

            li {
                margin: 10px 0;
            }

            span {
                color: var(--color-purple);
            }
        }
    }

    h3 {
        background: var(--logs-background-color);
        color: var(--logs-color);
        font-size: 10pt;
        padding: 12px 16px;
        border-bottom: 1px solid var(--logs-border-color);

        text-transform: uppercase;
    }

    a {
        display: inline-block;
        color: var(--color-blue);
        text-decoration: none;
    }
}