svg-isolate {
	outline: 1px dashed gray;
}

svg-isolate.highlight {
	outline: 1px dashed red;
}

svg-isolate::before {
	content: var(--width);

	position: absolute;
	bottom: 10px;
	right: 10px;

	font-size: 14pt;
	letter-spacing: 1px;

	color: #06d834;
}