* {
	margin: 0;
	padding: 0;
}

:root {
	color-scheme: dark;
	font-family: Consolas, monospace;
}

body {
	max-width: 1200px;
	margin-inline: auto;
	padding: 30px 50px;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

img {
	position: relative;
	width: 100%;
	height: 100%;
	outline: 1px dashed gray;
}

svg-isolate {
	outline: 1px dashed gray;
}

svg-isolate.highlight {
	outline: 1px dashed red;
}

svg-isolate::before {
	content: var(--width);

	position: absolute;
	bottom: 10px;
	right: 10px;

	font-size: 14pt;
	letter-spacing: 1px;

	color: gray;
}


.resized {
	align-self: center;
	position: relative;
	width: 870px;

	outline: 1px dashed rgb(214, 185, 20);
	overflow: hidden;
	resize: horizontal;

	h2 {
		text-align: center;
		white-space: nowrap;
		padding: 10px;

		span {
			color: #7ee787;
		}
	}

	.content {
		padding: 20px;
		height: 150px;
		overflow: hidden;
		scrollbar-gutter: stable both-edges;
	}

	.content.scrolled {
		overflow-y: scroll;

		p {
			height: 500px;
		}
	}
}



.info {
	display: flex;
	gap: 20px;

	font-size: 12pt;


	#fetch-log {
		flex-grow: 1;
		position: relative;
		background: #0d1117;
		border: 1px solid #30363d;
		border-radius: 12px;
		overflow: hidden;


		box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

		display: flex;
		flex-direction: column;

		height: 350px;



		.content {
			overflow: auto;
			flex-grow: 1;

			.logs {
				min-width: fit-content;

				.log {
					display: flex;
					gap: 20px;
					padding: 10px 16px;
					color: #747d88;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					font-size: 14px;

					p {
						line-height: 1.8;
						white-space: nowrap;

						.target {
							color: #7ee787;
							cursor: alias;
						}
					}

					p:first-child::before {
						content: ">";
						color: #58a6ff;
						margin-right: 10px;
						font-weight: bold;
					}
				}

				.log:last-child {
					border-bottom: none;
				}
			}
		}
	}



	.sources {
		flex-basis: 200px;
		min-width: 300px;

		background: #0d1117;

		border: 1px solid #30363d;
		border-radius: 12px;

		ul {
			list-style: none;
			padding: 10px 16px;

			li {
				margin: 10px 0;
			}

			span {
				color: #b458ff;
			}
		}
	}

	h3 {
		background: #161b22;
		color: #8b949e;
		font-size: 10pt;
		padding: 12px 16px;
		border-bottom: 1px solid #30363d;

		text-transform: uppercase;
	}

	a {
		display: inline-block;
		color: #58a6ff;
		text-decoration: none;
	}
}