.url {
    text-decoration: none;
    cursor: pointer;
    transition: background .2s;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    &:hover {
        background: var(--border-color);
    }

    .origin {
        color: var(--text-url-origin);
    }

    .basePath {
        color: var(--text-url-base-path);
    }

    .srcPath {
        color: var(--text-url-src-path);
    }

    .search {
        color: var(--text-url-search);
    }

    .hash {
        color: var(--text-url-hash);
    }
}


